<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

+My Jupyter Notebook on IBM Watson Studio

**Tom Brown**, Systems Analyst

*I am interested in data science because I am genuinely curious about a wide variety of subjects.  I like what data science and analysis has to offer regarding that curiosity.   It is like having the ability to sit around, look at data, analyze data, and make up true stuff.  Data doesn't lie.*

+++The below loop iterates through each of the elements(item) in the list of fibonacci numbers prints them

In [7]:
for item in [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]:
    print(item)

0
1
1
2
3
5
8
13
21
34
55

The following are examples of markdown html shortcuts

Below is a table
|**Column 1** | **Column 2** | **Column 3** |
|------------|----------|-------|
|Row 1 Col 1|Row 1 Col 2|Row 1 Col 3|
|Row 2 Col 1|Row 2 Col 2|Row 2 Col 3|

Below is a horizontal line
***

Below is a bulleted list

- Item One
- Item Two
    - Item Two A
- Item Three